<!DOCTYPE html>
<html>
	<head>
		<title>Final Project</title>
		<link rel="stylesheet" href="/app.css">
	</head>
	<body>
		<h1>Menu</h1>
		<ul>
			<li>
				<a href="/person">List, Add, Update or Delete a person</a>
			</li>
			<li>
				<a href="/title/m">List and change a title for a person (Many-to-many)</a>
			</li>
			<li>
				<a href="/region/1">List and change a region for a person (One-to-many)</a>
			</li>
			<li>
				<a href="/region">List, Add, or Delete a region</a>
			</li>
			<li>
				<a href="/title">List, Add, or Delete a title</a>
			</li>
			<li>
				<a href="/allegiance">List, Add, or Delete an allegiance</a>
			</li>
			<li>
				<a href="/castle">List, Add, or Delete a castle</a>
			</li>
			<li>
				<a href="/search">Search people by last name</a>
			</li>
		</ul>
	</body>
	</html>


